.collection-card {
  &:hover {
    text-decoration: none;
  }
}

.card {
  &-text {
   flex-direction: column;
   justify-content: flex-start;
   h2 {
     margin-bottom: 0;
   }
  }
  &-title {
    color: #fff;
  }
}