.user-profile {
  &-wrapper {
    color: #fff;
    cursor: pointer;
    position: relative;
  }
  &-name {
    max-width: 40px;
    max-height: 40px;
    background: #007bff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
  }

  &-menu {
    position: absolute;
    top: 40px;
    right: 5px;
    bottom: 0;
    background: #212529;
    width: 100px;
    height: 50px;
    border-radius: 10px;
  }
}

.navbar-shopping-bag {
  font-size: 1.5rem;
  color: #fff;
  padding: 0 1.5rem;
  cursor: pointer;
}