.product-info {
  &-collection {
    &:hover {
      font-weight: 500;
    }
  }
  &-title {
    font-size: 2rem;
    color: #003f59;
  }

  .pplr-wrapper {
    margin-bottom: 15px;
  }

  label.pplrlabel {
    color: #6dc3c2;
    font-weight: normal;
    padding: 0px;
    cursor: pointer;
    width: 100%;
  }

  input.pplrinput {
    border: none;
    border-bottom: 1px solid #dddddd;
    border-radius: 0;
    padding: 1rem 0.5rem;
    outline: none !important;
    &:focus {
      outline: none !important;
    }
  }
}

.p_a_t_c {
  padding: 1em 20px;
  font-size: 1em;
  width: 100%;
}

.purchase-btn {
  color: #fff;
  background-color: #003f59;
  border-color: #003f59;

  &:hover {
    background-color: #000;
    border-color: #000;
  }
}