* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.slick-prev:before, .slick-next:before {
  color: black !important;
  font-size: 2rem;
}

.slick-next, .slick-prev {
  z-index: 10;
  top: 40%;
}

.slick-next {
  right: 30px;
}

.slick-prev {
  left: 30px;
}

.text-position-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-position-left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.color-white {
  color: #fff;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-decoration-none {
  text-decoration: none;
}